* {
  background-color: rgb(166, 227, 240);
}

h1,
h2 {
  text-align: center;
}

.band-photo {
  float: right;
  padding: 3px;
  border: 6px black;
  padding: 10px;
  border: solid black;
  box-sizing: border-box;
  margin-right: 5%;
}

.dates {
  width: 20%;
  border: 6px purple;
  margin: 2px;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  border-width: 10px;
  border: solid black;
}

.centered-image {
  margin: auto;
  width: 25%;
  height: auto;
  display: block;
}

p {
  padding-left: 25%;
  padding-right: 25%;
}

.years {
  font-weight: bolder;
}
